@import "tailwindcss";

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

#list li {
  height: 50px;
  width: 250px;
}

#list {
    height: 100vh;
}

#list li a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
}


#list li a:hover {
  background-color: gray;
}

.cancel {
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 10px;

}

.cancel:hover{
    background-color: rgb(232, 230, 230);
}


#mainlist li{
    height: 80px;

}

#mainlist li a{
    height: 100%;
    display: flex;
    align-items: center;

}

#mainlist li a:hover{
    border-bottom: 4px solid orange;
}


.hoverImg:hover{
  border: 2px solid gray;
}

.cart {
  position: absolute;
  display: block;
  right: 10px; 
  top: 88px; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
  border-radius: 16px; 
  height: 250px;
  width: 95%;
  background-color: white; 
}

@media (min-width: 530px) {
  .cart {
    width: 350px;
    right: 80px;
  }
}
