@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body{
  background: linear-gradient(to right top, #122637, #084d71, #122b34);
  font-family: "Hind Siliguri", sans-serif;
}


div a {
  color: white;
  text-decoration: none;
}

header{
  background: linear-gradient(to right top, #162f43, #042b3f, #142e38);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  /* backdrop-filter: 10px; */
  /* filter: blur(3px); */
  /* -webkit-filter: blur(8px); */
  box-shadow: 0px 2px 10px #10202f;
}

header a{
  padding: 3px 10px;
  border-radius: 10px;
  cursor: pointer;
}

header a:hover, header div button:hover{
  background-color: #172036;
}
header img{
  mix-blend-mode: screen;
}

header div button{
  cursor: pointer;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
}

.Container{
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  background-color: #ffffff;
  height: 4px;
  width: 30px;
  margin: 3px;
  transition: 0.5s;
}

.change .bar1{
  transform: translate(0px, 10px) rotate(-45deg);
}

.change .bar2{
  opacity: 0;
}

.change .bar3{
  transform: translate(0px, -10px) rotate(45deg);
}
.skills div{
  background-image: linear-gradient(to right top, #175585, #4d91b3, #23738e);
  box-shadow: 3px 3px 10px rgba(0.0.4.1);
}


.skills div img{
  width: 100px;
}

.skills h1{
  font-size: 50px;
  font-weight: bold;
}

.skills p{
  font-size: 20px;
}

.skills button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 115px;
  color: #36defc;
  border: 2px solid #38bdff;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.skills button:hover{
  background-color: #38bdff;
  color: white;
}