.checkout {
  padding: 20px;
}
.checkout > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.checkout h5 {
  font-size: 1.2rem;
}
.checkout > div:nth-child(2) p:first-child {
  color: #999;
}

.checkout > div:nth-child(4) p:nth-child(2) {
  color: #b88e2f;
  font-size: 1.1rem;
  font-weight: bold;
}
.checkout > div h6 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 1rem;
}
.radio {
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 50%;
}

.border {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #999;
}

.dbt-details {
  color: #999;
  font-size: 0.8rem;
}

.btn {
  padding: 15px 30px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 1.2rem;
}

form {
  padding: 20px;
  text-align: center;
}

.form-container > div {
  display: flex;
  text-align: start;
  flex-direction: column;
}

label {
  padding: 10px 0;
}

input,
select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #999;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.additional {
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .checkout-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 8rem;
  }
  .checkout {
    order: 2;
  }
}

@media (min-width: 700px) and (max-width: 992px) {
  .checkout {
    padding: 20px 100px;
  }
}
